flask==2.2.2
flask_restx==1.0.5
flask_cors==3.0.10
flask_socketio==5.3.1
torch==1.12.0
torchvision==0.13.0
segmentation-models-pytorch==0.2.0
opencv-python
scipy
pandas
numpy
image
scipy
Pillow
eventlet==0.30.2
python-dotenv
gunicorn==20.1.0